body {
    background: url("/assets/images/background.png");
}

h1 {
    background-color: pink;
    font-size: 50px;
    color: white;
}

p {
    background-color: gray;
    display: block;
    width: 800px;
    margin: auto;
    font-size: 20px;
    padding: 5px;
    color: white;
}